.prog-text {
	margin: 15rem 0px;
	@media screen and ( max-width: $large-tablet ) {
		margin: 10rem 0px;
	}
	&__wrap {
		background: linear-gradient(92.12deg, #2E81FF 4.31%, #E076FB 72.24%, #16C5EC 102.93%);
		box-shadow: 0px 50px 56px rgba(0, 0, 0, 0.1);
		border-radius: 20px;
		padding: 5rem 10rem;
		@media screen and ( max-width: $large-tablet ) {
			padding: 5rem 3rem;
		}
	}

	&__text {
		font-size: 2.2rem;
		line-height: 161.9%;
		color: rgba(255, 255, 255, 0.95);
		@media screen and ( max-width: $large-tablet ) {
			font-size: 1.6rem;
			line-height: 161.9%;
			color: rgba(255, 255, 255, 0.95);
		}
	}

	section & {
		margin-bottom: 0px;
		margin-top: 9rem;
		.center-wrap {
			padding: 0px;
		}
	}
}