.sales {
	width: 100%;
	&__title {
		margin-bottom: 5rem;
		@media screen and ( max-width: $large-tablet ) {
			margin-bottom: 3.5rem;
			font-size: 2.2rem;
		}
	}
	&__item {
		margin-bottom: 1rem;
		&-header {
			background: $bg;
			border-radius: 12px;
			font-weight: bold;
			font-size: 1.8rem;
			line-height: 22 / 18 * 1;
			color: #2B3032;
			padding: 1.5rem 4rem;
			margin-bottom: 3rem;
			@media screen and ( max-width: $large-tablet ) {
				font-size: 1.4rem;
				padding: 1.4rem;
				margin-bottom: 1.8rem;
			}
		}

		&-titles {
			display: flex;
			justify-content: space-between;
			font-weight: 700;
			font-size: 1.6rem;
			line-height: 16 / 20 * 1;
			color: #2B3032;
			margin-bottom: 2.3rem;
			padding: 0px 4rem;
			@media screen and ( max-width: $large-tablet ) {
				font-size: 1.2rem;
				padding: 0px 1.4rem;
				margin-bottom: 1.5rem;
			}
		}

		&-row {
			padding: 0px 4rem;
			display: flex;
			justify-content: space-between;
			padding-bottom: 1.5rem;
			margin-bottom: 1.5rem;
			position: relative;
			@media screen and ( max-width: $large-tablet ) {
				padding-left: 1.4rem;
				padding-right: 1.4rem;
			}
			&:last-child {
				&::before {
					display: none;
				}
			}
			&::before {
				content: '';
				position: absolute;
				bottom: 0px;
				width: calc( 100% - ( 4rem * 2 ) );
				left: 4rem;
				background: #E4E4E4;
				height: 1px;
				@media screen and ( max-width: $large-tablet ) {
					width: calc( 100% - ( 2rem * 2 ) );
					left: 2rem;
				}
			}
		}

		&-sale {
			font-weight: bold;
			font-size: 2rem;
			line-height: 24 / 20 * 1;
			color: #3183FF;
			width: 12rem;
			text-align: right;
		}

		&-cat {
			font-size: 1.4rem;
			line-height: 17 / 14 * 1;
			color: #494949;
			max-width: 50rem;
			@media screen and ( max-width: $large-tablet ) {
				font-size: 1.2rem;
			}
		}
	}
}