.tarifs {
	background: $bg;
	padding: 15rem 0px;
	@media screen and ( max-width: $large_tablet ) {
		padding: 10rem 0px;
	}
	&__title {
		margin-bottom: 2rem;
	}

	&__sub-title {
		font-size: 1.8rem;
		line-height: 145.9%;
		color: #676B73;
		margin-bottom: 8rem;
		@media screen and ( max-width: $large_tablet ) {
			font-size: 1.3rem;
			margin-bottom: 5rem;
		}
	}

	&__list {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		.tarif {
			width: calc( ( 100% - 3rem * 1  ) / 2 );
			@media screen and ( max-width: $large_tablet ) {
				width: 100%;
				margin-bottom: 3rem;
				&:last-child {
					margin-bottom: 0px;
				}
			}
		}
	}
}