*,::before,::after {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	outline: none;
}

img {
	max-width: 100%;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
	-webkit-appearance: none; 
	margin: 0; 
}


input {
	-webkit-border-radius: 0px;
	-webkit-appearance: none;
}


ul {
	list-style: none;
}


a {
	text-decoration: none;
	color: inherit;
}

html,
body {
	font-size: 62.5%; // 1rem = 10px
	min-height: 100vh;

	@media screen and ( max-width: $small-desktop ) {
		font-size: 100vw / ( 1200/10 );		
	}


	@media screen and ( max-width: $large-tablet ) {
		font-size: 80%;	
	}


	@media screen and ( max-width: $small-tablet ) {
		font-size: 98%;		
	}

	@media screen and ( max-width: 500px ) {
		font-size: 100vw / ( 320/10 );		
	}

}

body {
	font-family: "Montserrat";
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100vh;
	font-size: 1.5rem;
	@media screen and ( max-width: $small-tablet ) {
		&.oh {
			overflow: hidden;
		}
	}
}

main {
	padding-top: 20rem;
	overflow: hidden;
	@media screen and ( max-width: $large-tablet ) {
		padding-top: 95px;
	}
	@media screen and ( max-width: $small-tablet ) {
		padding-top: 15.6rem;
	}
	flex-grow: 1;
}

.center-wrap {
	max-width: 1200px;
	width: 100%;
	margin: 0px auto;
	padding: 0px 15px;
	@media screen and ( max-width: $large_tablet ) {
		max-width: 768px;
	}
	@media screen and ( max-width: $small-tablet ) {
		max-width: 500px;
	}	
}

h1,h2,h3,h4 {
	margin: 0px;
}


.h2 {
	font-weight: bold;
	font-size: 3.2rem;
	line-height: 39 / 32 * 1;
	color: #2B3032;
	position: relative;
	z-index: 1;
	@media screen and ( max-width: $large_tablet ) {
		font-size: 2.4rem;
	}
	span {
		color: $primary;
	}
	&--round {
		position: relative;
		&::before {
			content: '';
			position: absolute;
			width: 3.2rem;
			height: 3.2rem;
			border-radius: 50%;
			background: rgba(49, 131, 255, 0.5);
			left: 0px;
			top: 0.2em;
			transform: translate(-40%,-40%);
			z-index: -1;
			@media screen and ( max-width: $large_tablet ) {
				transform: translate(-0%,-60%);
			}
		}
	}
}

.simple-title {
	
}
.desktop--hide {
	@media screen and (min-width:1200px) {
		display: none !important;
	}
}

.mobile--hide {
	@media screen and (max-width:1200px) {
		display: none !important;
	}
}

